<div class="carte">
    <div class="trajet"><img class="avion" src="/assets/images/logomj.png" [style]="style">
    </div>
    <div class="panneau">
        <ul>
            <li style="margin-bottom: 7px;">Nous avons récolté {{currentArgent}}€ sur {{argentTarget}}</li>
            <li style="margin-bottom: 7px;">Nous avons parcouru {{currentDistance}}km sur {{distance}}</li>
            <li style="margin-bottom: 7px;">Nous sommes à {{trajet}}% de notre but !</li>
        </ul>
    </div>
</div>

